extends includes/layout

block stylesheets
  link(rel="stylesheet" href="/css/index.css")

block javascripts 
  script(src="https://cdn.jsdelivr.net/npm/chart.js")
  script(type="module" src="/js/index.js")
  script(src="https://www.gstatic.com/firebasejs/8.10.0/firebase-app.js")
  script(src="https://www.gstatic.com/firebasejs/8.10.0/firebase-firestore.js")

block content
  .container.d-flex 
    .form-content.my-auto.mx-auto.rounded 
      h1#logo nftnews.fyi 
      .lds-dual-ring.hide-by-default#loadingSpinner
      .input-group#emailForm
        .input-group-prepend.col-9
          input.form-control#inputEmail(type='email' placeholder='email')
        button.btn.btn-primary.col-3#submit(type='submit') submit
      #successCard.hide-by-default
        br
        img(src='../images/success.svg' width='10%')
        br
        br
        h3 Thank you! 
        p You're now on our email list. We'll grant you exclusive access to the community very soon!